Source: openafs-meta
Section: devel
Priority: extra
Maintainer: Ubuntu CERN Team <ubuntu-cern-bugs@ninsei.hu>
Standards-Version: 3.7.2
Build-Depends: dpkg (>= 1.13.19), debhelper (>= 3)

Package: openafs-modules-generic
Architecture: all
Section: universe/net
Priority: extra
Depends: openafs-modules-${kernel-abi-version}-generic
Description: OpenAFS modules for generic kernel
 This package will always depend on the latest generic 
 OpenAFS modules available.

Package: openafs-modules-server
Architecture: all
Section: universe/net
Priority: extra
Depends: openafs-modules-${kernel-abi-version}-server
Description: OpenAFS modules for server kernel
 This package will always depend on the latest server
 OpenAFS modules available.

