Source: openafs-meta
Section: devel
Priority: extra
Maintainer: Ubuntu CERN Team <ubuntu-cern-bugs@ninsei.hu>
Standards-Version: 3.7.2
Build-Depends: dpkg (>= 1.13.19), debhelper (>= 3)

Package: openafs-modules-generic
Architecture: i386 amd64
Section: universe/net
Priority: extra
Depends: openafs-modules-${kernel-abi-version} (= ${binary:Version})
Description: OpenAFS modules for generic kernel
 This package will always depend on the latest generic 
 OpenAFS modules available.

