#!/usr/bin/make -f
#
# debian/rules for openafs-meta
#
# GNU copyright 2008 Akos FROHNER <akos@frohner.hu>
#

META_VERSION=$(shell head -1 debian/changelog | sed 's/.*(\(.*\)).*/\1/')
KERNEL_VERSION=$(shell echo $(META_VERSION) | cut -d- -f1)
KERNEL_ABI=$(shell echo $(META_VERSION) | cut -d- -f2 | cut -d. -f1)
KERNEL_ABI_VERSION=$(KERNEL_VERSION)-$(KERNEL_ABI)
MODULE_NAME=openafs
KERNEL_FLAVOURS=generic server

SHELL := sh -e

build:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	for flavour in $(KERNEL_FLAVOURS); do \
		rm -rf debian/$(MODULE_NAME)-modules-$(KERNEL_ABI_VERSION)-$$flavour; \
	done
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

gencontrol_flags = -Vkernel-version=$(KERNEL_VERSION)
gencontrol_flags += -Vkernel-abi-version=$(KERNEL_ABI_VERSION)

# Build architecture-independent files here.
binary-indep: debian/control install
	dh_testdir
	dh_testroot
	dh_installdirs -i
	dh_installdocs -i
	dh_installchangelogs -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i -- $(gencontrol_flags)
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: debian/control install
	dh_testdir
	dh_testroot
	for flavour in $(KERNEL_FLAVOURS); do \
		mkdir -p debian/$(MODULE_NAME)-modules-$(KERNEL_ABI_VERSION)-$$flavour; \
		module-assistant --userdir debian/$(MODULE_NAME)-modules-$(KERNEL_ABI_VERSION)-$$flavour --text-mode --kvers-list $(KERNEL_ABI_VERSION)-$$flavour build $(MODULE_NAME); \
		mv debian/$(MODULE_NAME)-modules-$(KERNEL_ABI_VERSION)-$$flavour/*.deb ..; \
	done
	dh_installdirs -s
	dh_installdocs -s
	dh_installchangelogs -s
	dh_compress -s
	dh_fixperms -s
	dh_installdeb -s
	dh_gencontrol -s -- $(gencontrol_flags)
	dh_md5sums -s
	dh_builddeb -s

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
